
<!-- date,name,from,amount,tags -->

<div class="container">
  <h1><%=name%></h1>
  <a href="/budgtr" class="button button-primary">Go Back To Your expenses</a>
  <h3>Date</h3>
  <p><%=date%></p>
  <h3>From</h3>
  <p><%=from%></p>
  <h3>Amount</h3>
  <p><%=amount%></p>
  <h3>tags</h3>
  <p><%=tags%></p>
</div>


